body {
    background-color: white
}

p {
    text-transform: capitalize;
}

.main {
    width: 90vw;
    margin: 0 auto;
}

.content {
    width: 100%;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.number {
    color: black;
    font-size: 30px;
}

.logo i {
    color: red;
}

.search {
    margin-top: 30px;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: transparent;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn:hover {
    cursor: pointer;
}

.btn-search {
    border: none;
    background-color: white;
}

.btn-search:hover {
    cursor: pointer;
}

.btn-search:focus {
    outline: none;
}

.fa-heart {
    float: right;
    margin-right: 10px;
    color: red
}

.input {
    width: 40%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px; 
    margin-right: 60px;
    height: 25px;
}

.input:focus {
    /* Quita el focus de los input (borde azul que aparece cuando se le da click */
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.pokemon-card {
    border: 1px solid grey;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
}

.pokemon-card p {
    margin: 3px;
}

.pokemon-info {
    display: grid;
    grid-template-rows: max-content;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemon-id {
    color: grey;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.type {
    display: flex;
}

.fa-heart {
    color: black;
}

.fa-heart.red {
    float: right;
    margin-right: 10px;
    color: red
}